/* the height of this box will be 95% of view height */
/* cover - w.e the size always try to fit in the box. */
/* top of image always stays at the top */
/* gradient can be done with background-image */
.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top; 
    position: relative;
    /* clip-path to specify where the div will show */
    // CLIP PATH does not work for internet explorer microsoft patch
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    /* This works because position: absolute means something like "use top, right, 
    bottom, left to position yourself in relation to the nearest ancestor who has position: 
    absolute or position: relative." */
    /* Default position is static */

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    /* Can call animation on other elements. */
    /* .logo:hover {
        animation: moveInRight 1s ease-out;
    } */

    /* translate effects the div itself */
    /* top and left are in relation to the parent */
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__logo {
    height: 3.5rem;
    }
}