/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Allows to start clean */
/* border-box removes padding anad margins being added to width and height */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* inheritence for font in body */
/* The line-height property defines the amount of space above and below inline elements. */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

/* the height of this box will be 95% of view height */
/* cover - w.e the size always try to fit in the box. */
/* top of image always stays at the top */
/* gradient can be done with background-image */
.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba(126, 213, 111, 0.8), 
        rgb(40, 180, 133, 0.8)),
        url(../img/hero.jpg);
        background-size: cover;
        background-position: top; 
    /* clip-path to specify where the div will show */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%)
}